*{
    margin: 0px;
    padding: 0px;
  
}
body{
    background-image: url(image1.png);
    background-size: cover;
    width: 100%;
    height: 100%;
    color: white;
}
.main{
    
    border: 2px solid black;
    
}
.navbar{
    height: 30px;
    width: 1100px;
    padding:7px ;
    margin-left:12% ;
    margin-top:3%;
    border-radius: 20px;
    background-color: purple;
    background-image: radial-gradient( black ,purple);
    border: 2px solid black;
    display: flex;
    position: fixed;
    font-size: 20px;
    justify-content: space-evenly; 
    color:white;
    text-decoration: none;
}
a{
    text-decoration: none;
    color: white;
}
.content{
    display: flex;
}
.me{
    border: 2px solid black;
    height: 400px;
<<<<<<< HEAD
    width: 400px;
    border-radius: 50%;
    background-color: aqua;
    background-image: url(me1.jpg);
    background-size:cover;
    margin-top: 10%;
    margin-left: 3%;
    position: absolute;
}
.head{
    margin-left: 45%;
    margin-top: 14%;
    height: 250px;
    width: 380px;
    border: 2px solid ;
    position: absolute;
}

#head1{
    font-size: 20px;
}

=======
    width:400px;
    margin-left: 850px;
    background-image: url(../resume/me1.jpg);
    background-size: cover;
}
>>>>>>> 7a7bff3bae278d7f24aa2b66944c663ec9e98d84
